@font-face {
    font-family: 'Grape Nuts';
        src: local('Grape Nuts Regular'), local('GrapeNuts-Regular'),
            url('subset-GrapeNuts-Regular.woff2') format('woff2'),
            url('subset-GrapeNuts-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
