.bookmark-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0.69rem;
	border-radius: 4px;
	transition: background-color 0.2s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--darkgray);
	gap: 5px;
}

.bookmark-btn:hover {
	background-color: var(--header-btn-bg, --lightgray);
}

.bookmark-text {
	font-size: 1rem;
	font-weight: 500;
}
.bookmark-btn.active .bookmark-icon {
	fill: var(--secondary);
	stroke: var(--secondary);
}

.bookmark-btn.active .bookmark-text {
	color: var(--secondary);
}
.bookmark-modal,
.bookmark-modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
}

.bookmark-modal-overlay {
	background: rgba(0, 0, 0, 0.3);
}

.bookmark-modal {
	background: var(--light);
	max-width: calc(100% - 80px);
	width: 400px;
	height: fit-content;
	padding: 1.5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: 0;
	border-radius: 8px;
	box-shadow: 0 4px 12px var(--box-shadow);
	position: fixed;
	z-index: 1001;
}

.bookmark-modal-title {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.bookmark-modal-desc {
	margin-bottom: 1rem;
}

.bookmark-modal-buttons {
	display: flex;
	gap: 0.5rem;
	justify-content: flex-end;
}

.bookmark-modal-btn {
	padding: 0.5rem 1rem;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.bookmark-modal-btn.primary {
	background: var(--secondary);
	color: white;
}

.bookmark-modal-btn.secondary {
	background: var(--lightgray);
	color: var(--darkgray);
}
