.media-share {
	position: relative;
	display: inline-block;
}

.share-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0.69rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--darkgray);
	transition: background-color 0.3s;
	border-radius: 4px;
		gap: 5px;
	}
	
	.share-button:hover {
		background-color: var(--lightgray);
	}
	
	.share-text {
		font-size: 1rem;
		font-weight: 500;
}

.share-dropdown {
	position: absolute;
	right: 0;
	top: 100%;
	background-color: var(--light);
	border: none;
	border-radius: 6px;
	width: 150px;
	box-shadow: 0 4px 12px #00000044;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: opacity 0.3s, transform 0.3s, visibility 0s 0.3s;
	z-index: 1;
	margin-top: 10px;
}

.share-dropdown.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: opacity 0.3s, transform 0.3s;
}

.share-option {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	color: var(--darkgray);
	text-decoration: none;
	cursor: pointer;
	border: none;
	background: none;
	width: -webkit-fill-available;
	text-align: left;
	font-size: 14px;
	transition: background-color 0.2s;
}

.share-option:hover {
	background-color: var(--lightgray);
}
.share-option svg {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.copy-feedback {
	position: absolute;
	bottom: 100%;
	right: 0;
	background-color: var(--light);
	color: var(--dark);
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 12px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s, transform 0.3s;
	margin-bottom: 10px;
}

.copy-feedback.active {
	opacity: 1;
	transform: translateY(0);
}