.share-button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0.69rem;
	transition: background-color 0.2s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--darkgray);
	border-radius: 4px;
	gap: 5px;
}
	
.share-button:hover {
	background-color: var(--header-btn-bg, --lightgray);
}

.share-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.share-text {
	font-size: 1rem;
	font-weight: 500;
}

/* Styles for dropdown that will be created via JavaScript */
.share-dropdown {
	position: fixed;
	background-color: var(--light);
	border: none;
	border-radius: 6px;
	width: 150px;
	box-shadow: 0 4px 12px var(--box-shadow);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: opacity 0.3s, transform 0.3s, visibility 0s 0.3s;
	z-index: 1;
	margin-top: 10px;
}

.share-dropdown.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: opacity 0.3s, transform 0.3s;
}

.share-option {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	color: var(--darkgray);
	text-decoration: none;
	cursor: pointer;
	border: none;
	background: none;
	width: -webkit-fill-available;
	text-align: left;
	font-size: 14px;
	transition: background-color 0.2s;
}

.share-option:hover {
	background-color: var(--lightgray);
}
.share-option svg {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.copy-feedback {
	z-index: 2;
	position: absolute;
	background-color: var(--light);
	color: var(--dark);
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 12px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s, transform 0.3s;
	margin-bottom: 10px;
}

.copy-feedback.active {
	opacity: 1;
	transform: translateY(0);
}