.readermode {
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  border-radius: 4px;
  padding: 0.69rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkgray);
  transition: background-color 0.2s;
  gap: 5px;


  &:hover {
    background-color: var(--lightgray);
  }

  & svg {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: none;
    stroke: var(--darkgray);
    transition: opacity 0.1s ease;
  }

  .readermode-text {
    font-size: 1rem;
    font-weight: 500;
  }
}

:root[reader-mode="on"] {
  & .sidebar.left,
  & .sidebar.right {
    opacity: 0;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }
}
