@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!
.readermode svg {
	fill: none;
}

@media all and ($mobile) {

	// Thêm style cho mobile view
	.toc {
		min-height: auto;
		margin-bottom: 1.5rem;
	}

	// Giữ mũi tên luôn mở rộng trên mobile
	button.toc-header {
		&.collapsed .fold {
			transform: rotateZ(0deg);
		}
	}

	// Loại bỏ hiệu ứng mờ dần trên mobile và giữ chúng luôn sáng
	ul.toc-content.overflow {
		max-height: none;

		&>li>a {
			opacity: 0.75;
			transition: none;

			&.in-view {
				opacity: 0.75;
			}

			&:hover {
				opacity: 1;
			}
		}

		// Hiển thị nội dung TOC ngay cả khi đang ở trạng thái collapsed
		&.collapsed {
			display: block !important;
		}
	}

	footer {
		text-align: center;

		& ul {
			flex-direction: column;
			gap: 0rem;
			align-items: center;
		}
	}


}